<div class="col-md-12">
<div class="row">
	<h2 class="text-center"><u>Lista de Agentes Cadastrados</u></h2>
</div>
<div class="row">
<a href="#/salvarAgente" class="btn btn-primary">Cadastrar</a>
</div>
<br/>
<div class="row">
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<td>ID</td>
			<td>Nome</td>
			<td>Data Contratacao</td>
			<td>Tempo de Servico</td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="ag in agente">
			<td>{{ag.id}}</td>
			<td>{{ag.nome}}</td>
			<td>{{ag.dtContratacao}}</td>
			<td>{{ag.tempoServico}}</td>
			<td><button ng-click="editar(ag)" class="btn btn-info btn-block">Editar</button></td>
			<td><button ng-click="deletar(ag.idAgente)" class="btn btn-danger btn-block">Deletar</button></td>
		</tr>
		
		<tr ng-show="notFound" class="text-center">
			<td colspan="4">Não tem registros</td>
		</tr>
	</tbody>
</table>
	
</div>
</div>